<section class="section">
    <div class="container">
        <p>Hi Mommy</p>

        <p>
            Your confirmation link is: <a href="{{ confirmationLink }}">{{ confirmationLink }}</a>
        </p>
    </div>
</section>